# History files
.Rhistory
.Rapp.history

# Genotypic data
*.num.txt
*.hmp.txt
*.hmp.txt.gz

# Session Data files
.RData
__pycache__/*

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# R Environment Variables
.Renviron

# large genotypic data
*.hmp.txt
*.hmp.txt.gz
*.num.txt

# Slurm job log
*slurm*out
*slurm*err
